@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Ubuntu:wght@300&display=swap");
header {
  background-color: #356e4d;
  padding: 25px 25px;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  color: whitesmoke;
  font-family: Open Sans;
}
#myFamily {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}
.headerGrid {
  display: grid;
  grid-template-columns: auto auto;
}
footer {
  background-color: #356e4d;
  padding: 25px 45px;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  font-size: large;
  font-family: Open Sans;
}
main {
  max-width: 800px;
  margin: auto;
  font-family: Ubuntu;
}
